<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="font-size:1.2em">
    <h1>Chat <%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>あなたの為の快適なChat lifeへようこそ</p><br>
    <form>
      <a href="http://localhost:3000/">ホームページ再読み込み</a><br>
      <a href="http://localhost:3000/new">新規ユーザー登録</a><br>
      <a href="http://localhost:3000/login">ログイン</a>
    </form>




  </body>
</html>
